

body{
			letter-spacing: 0.325px;
			/*font-family: 'Russo One', sans-serif;*/
			/*font-family: 'ZCOOL KuaiLe', cursive;*/
			/*font-family: 'Exo 2', sans-serif;*/
			/*font-family: 'Viga', sans-serif;*/
			font-family: 'Righteous', cursive;
			/*font-family: 'Coiny', cursive;*/
			
			
			/*font-family: 'ZCOOL QingKe HuangYou', cursive;*/
			/*font-family: 'Permanent Marker', cursive;*/
			/*font-family: 'Play', sans-serif;*/
			/*font-family: 'Gochi Hand', cursive;*/
			
			/*font-family: 'Concert One', cursive;*/
			height: 100vh;
			
		}
  		.modal-content {
  			margin: 0;
  			
  		}	

 		#nameplate{
 			margin: auto;
 		}
 		
		@media only screen and (min-width: 768px) {
  		.modal-content {
  			margin-left:auto;
 			margin-right: auto;
 			margin-top: 3%;
  		}	
 			
 		}

 		
